@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  @apply bg-light-gray font-rubik;
}

p {
  font-size: 15px;
}

@layer components {
  .input-textarea {
    @apply rounded-md border-[1.5px] border-very-light-gray bg-[length:10px_10px] bg-[position:10px_10px] bg-no-repeat p-2 outline-none focus:border-light-grayish-blue;
  }

  .input-placeholder-red::placeholder {
    color: #ef444499;
  }

  .input-warning {
    background-image: url('./assets/images/icon-warning.svg');
    background-size: 20px;
    padding-left: 35px;
  }
}
